<section id="download">
    <div class="container">
        <img src="/images/screens.png" alt="">
        <div class="content">
            <h2>Download Our App for Any Devices:</h2>
            <div class="content-parent">
                <div class="content-child">
                    <p>App Store</p>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <h4>Editor's Choice</h4>
                    <p>rating 4.7, 187K+ reviews</p>
                </div>
                <img src="/images/appstore.svg" alt="">
                <div class="content-child">
                    <p>Google Play</p>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <h4>App of the Day</h4>
                    <p>rating 4.8, 30K+ reviews</p>
                </div>
                <img src="/images/googleplay.svg" alt="">
            </div>
        </div>
    </div>
</section>
