<section id="newsletter">
    <div class="container">
        <div class="container-child">
            <div class="headline">
                <h1>Don't Want to Miss Anything?</h1>
                <img src="/images/arrows.svg" alt="">
            </div>
            <form asp-action="Subscribe" asp-controller="Home" method="post">
                <div class="content">
                    <h5>Sign up for Newsletters</h5>

                    <div class="content-parent">
                        <div class="content-child">
                            <input type="checkbox">
                            <label>Daily Newsletter</label>
                        </div>
                        <div class="content-child">
                            <input type="checkbox">
                            <label>Daily Newsletter</label>
                        </div>
                        <div class="content-child">
                            <input type="checkbox">
                            <label>Daily Newsletter</label>
                        </div>
                        <div class="content-child">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            <label>Daily Newsletter</label>
                        </div>
                        <div class="content-child">
                            <input type="checkbox">
                            <label>Daily Newsletter</label>
                        </div>
                        <div class="content-child">
                            <input type="checkbox">
                            <label>Daily Newsletter</label>
                        </div>
                    </div>

                </div>
                <div class="email-subscribe">

                    <input type="text" class="email-input" placeholder="&#xf0e0; Your Email">
                    <button class="btn-theme">Subscribe *</button>
                </div>
            </form>

            <p>* Yes, I agree to the <a href="">terms</a> and <a href="">privacy policy.</a></p>
        </div>

    </div>
</section>