<Section class="tools">
    <div class="container">
        <h2>What Do You Get with Our Tool?</h2>
        <p>Make sure all your tasks are organized so you can set the priorities and focus on important.</p>
        <div class="content">
            <div class="tool-box">
                <img src="/images/chat-icon.svg" alt="">
                <h5>Comments on Tasks</h5>
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="tool-box">
                <img src="/images/presentation-icon.svg" alt="">
                <h5>Comments on Tasks</h5>
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="tool-box">
                <img src="/images/add-group-icon.svg" alt="">
                <h5>Comments on Tasks</h5>
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="tool-box">
                <img src="/images/bell-icon.svg" alt="">
                <h5>Comments on Tasks</h5>
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="tool-box">
                <img src="/images/checklist-icon.svg" alt="">
                <h5>Comments on Tasks</h5>
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="tool-box">
                <img src="/images/shield-icon.svg" alt="">
                <h5>Comments on Tasks</h5>
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
        </div>
    </div>
</Section>