

<Section class="error-404">
    <div class="container">
        <img src="~/images/404.svg" alt="">
        <div class="content">
            <h1>Ooops!</h1>
            <p>The page you are looking for is not available.</p>
            <div class="button-center">
                <a asp-action="Home" asp-controller="default" class="btn-theme-s"><i class="fa-light fa-house"></i>Go to homepage</a>
            </div>
        </div>

    </div>
</Section>