@model SubscribeViewModel

<section id="newsletter">
    <div class="container">
        <div class="container-child">
            <div class="headline">
                <h1>Don't Want to Miss Anything?</h1>
                <img src="/images/arrows.svg" alt="">
            </div>
            <form asp-action="subscribe" asp-controller="default" method="post">
                <div class="content">
                    <h5>Sign up for Newsletters</h5>

                    <div class="content-parent">
                        <div class="content-child">
                            <input asp-for="DailyNewsletter" type="checkbox" value="true">
                            <label asp-for="DailyNewsletter"></label>
                        </div>
                        <div class="content-child">
                            <input asp-for="AdvertisingUpdate" type="checkbox" value="true">
                            <label asp-for="AdvertisingUpdate"></label>
                        </div>
                        <div class="content-child">
                            <input asp-for="WeekInReview" type="checkbox" value="true">
                            <label asp-for="WeekInReview"></label>
                        </div>
                        <div class="content-child">
                            <input asp-for="EventUpdates" type="checkbox" value="true">
                            <label asp-for="EventUpdates"></label>
                        </div>
                        <div class="content-child">
                            <input asp-for="StartupsWeekly" type="checkbox" value="true">
                            <label asp-for="StartupsWeekly"></label>
                        </div>
                        <div class="content-child">
                            <input asp-for="Podcasts" type="checkbox" value="true">
                            <label asp-for="Podcasts"></label>
                        </div>
                    </div>

                </div>
                <div class="email-subscribe">
                    <i class="fa-regular fa-envelope"></i>
                    <input asp-for="Email">
                    <span asp-validation-for="Email"></span>
                    <button class="btn-theme" type="submit">Subscribe *</button>
                </div>
                <div class="status-message ViewBag.StatusClass">
                    @TempData["StatusMessage"]
                </div>
            </form>

            <p>* Yes, I agree to the <a href="">terms</a> and <a href="">privacy policy.</a></p>
        </div>

    </div>
</section>

@await Html.PartialAsync("~/Views/Shared/Sections/_ValidationScriptPartial.cshtml")